.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ColorWhite-bg{
  background-color: #FFFF
}

.ColorMain-bg{
  background-color: #CFD3C5
}

.ColorMainFooter-bg{
  background-color: #FFFCF7
}

.FontMain{
  font-family: 'Lora';
}

.FontMain-color1{
    color: #ffffff
}

.FontMain-color2{
  color: #CFD3C5;
}

.FontMain-color3{
  color: #000000;
}

.nostyle {
  text-decoration: inherit;
  color: inherit;
}

.carousel .carousel-item {
  height: 700px;
}

.carousel-item img {
    position: absolute;
    object-fit:cover;
    top: 0;
    left: 0;
    min-height: 700px;
}

.BtnMain{
  background-color: #CFD3C5;
  color: #ffff;
  font-family: 'Lora', serif;
}

.CallToAction{
  position: absolute;
  left: 300px;
  top: 300px;
  z-index: 5;
}
.image {
  /* width: 200px; */
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 0.3em;
}

.scrolling-wrapper {
  overflow-x: auto;
}

.card-block {
  height: 250px;
  width: auto;
  background-color: #fff;
  border: none;
  background-position: center;
  background-size: cover;
  transition: all 0.5s ease-in-out !important;
}

 .nav-pills .nav-link:not(.active) {
    background-color: #FFFCF7;
    color: black;
    font-family: 'Lora'
}

.nav-pills .nav-link:hover{
  background-color: #CFD3C5;
  color: white;
  font-family: 'Lora'
}

.nav-pills .active{
  background-color: #CFD3C5 !important;
  color: white;
  font-family: 'Lora' 
}

.image-individual {
  height: 800px;
  background-size: cover;
  background-position: center;
}

.OrderBorder{
  border: 1px solid rgb(201, 201, 201);
  border-radius: 2px;
}

.image-order {
  /* width: 200px; */
  height: 350px;
  background-size: cover;
  background-position: center;
  border-radius: 5px;

}

.OrderListing{
  background-color: #FBFBFB
}

.increaseHover:hover{ -webkit-transform: scale(1.2); }

.increaseHover2:hover{ -webkit-transform: scale(1.07); }

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #CFD3C5; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.logoPosition{
  margin: 0 auto;
  height: 130px;
  width: 100px;
}

.mainNav{
  position: relative;
  background-color: #ffff;
}

.iconPosition{
  position:absolute;
  top: 20px;;
  right: 20px;
}